<h1>New Product</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= render 'form', product: @product %>
    </div>
    <div class="col-md-8">
      <ul>
        <li>Enter a product name.</li>
        <li>Enter a product price.</li>
        <li>Click on "Create Product" to finish creating a product.</li>
        <li>Select back to return the list of products.</li>
    </div>
  </div>
</div>


<%= link_to 'Back', products_path %>
